@if (isGroupVisible()) {
	<div class="param-group" [formGroup]="form">
		<div class="group-title">{{ groupName }}</div>
		<div class="group-fields">
			@for (param of params; track param) {
				@if (isVisible(param)) {
					@switch (param.type) {
						@case ('boolean') {
						<div class="param-field param-toggle">
						<mat-slide-toggle [formControlName]="param.id" [matTooltip]="getTooltip(param)" matTooltipPosition="above">
						{{ param.description || param.name }}
						</mat-slide-toggle>
						@if (hasExpandableHelp(param)) {
							<button type="button" mat-icon-button class="help-toggle" (click)="toggleHelp(param.id)" [matTooltip]="'Show/hide help'" matTooltipPosition="above">
								<mat-icon>{{ isHelpExpanded(param.id) ? 'expand_less' : 'help_outline' }}</mat-icon>
							</button>
						}
						</div>
						@if (hasExpandableHelp(param) && isHelpExpanded(param.id)) {
							<div class="expandable-help" [innerHTML]="getMarkdownHelp(param)"></div>
						}
						}
						@case ('enum') {
						<mat-form-field appearance="outline" class="param-field">
						<mat-label>{{ param.name }}</mat-label>
						<mat-select [formControlName]="param.id" [required]="!!param.required" [matTooltip]="getTooltip(param)" matTooltipPosition="above">
						@for (option of param.enumValues; track option) {
						<mat-option [value]="getEnumOptionValue(option)">{{ getEnumOptionLabel(option) }}</mat-option>
						}
						</mat-select>
						@if (param.default !== undefined) {
						<mat-hint>Default: {{ param.default }}</mat-hint>
						}
						@if (hasExpandableHelp(param)) {
							<button type="button" mat-icon-button matSuffix class="help-toggle-suffix" (click)="toggleHelp(param.id)" [matTooltip]="'Show/hide help'" matTooltipPosition="above">
								<mat-icon>{{ isHelpExpanded(param.id) ? 'expand_less' : 'help_outline' }}</mat-icon>
							</button>
						}
						</mat-form-field>
						@if (hasExpandableHelp(param) && isHelpExpanded(param.id)) {
							<div class="expandable-help" [innerHTML]="getMarkdownHelp(param)"></div>
						}
						}
						@case ('string') {
						@if (param.upload) {
						<div class="param-field">
						<mat-form-field appearance="outline">
						<mat-label>{{ param.name }}</mat-label>
						<input type="file" #fileInput [id]="'file-' + param.id" (change)="onFileSelected($event, param.id)" style="display: none;" />
						<input matInput [formControlName]="param.id" [required]="!!param.required" [matTooltip]="getTooltip(param)" matTooltipPosition="above" readonly />
						<button mat-icon-button matSuffix type="button" (click)="fileInput.click()" [matTooltip]="'Select file'" matTooltipPosition="above">
						<mat-icon>attach_file</mat-icon>
						</button>
						@if (hasExpandableHelp(param)) {
							<button type="button" mat-icon-button matSuffix class="help-toggle-suffix" (click)="toggleHelp(param.id)" [matTooltip]="'Show/hide help'" matTooltipPosition="above">
								<mat-icon>{{ isHelpExpanded(param.id) ? 'expand_less' : 'help_outline' }}</mat-icon>
							</button>
						}
						@if (param.default !== undefined) {
						<mat-hint>Default: {{ param.default }}</mat-hint>
						}
						</mat-form-field>
						@if (hasExpandableHelp(param) && isHelpExpanded(param.id)) {
							<div class="expandable-help" [innerHTML]="getMarkdownHelp(param)"></div>
						}
						</div>
						} @else {
						<mat-form-field appearance="outline" class="param-field">
						<mat-label>{{ param.name }}</mat-label>
						@if (param.multiline) {
						  <textarea matInput rows="3" [formControlName]="param.id" [required]="!!param.required" [matTooltip]="getTooltip(param)" matTooltipPosition="above"></textarea>
						} @else {
						  <input matInput [formControlName]="param.id" [required]="!!param.required" [matTooltip]="getTooltip(param)" matTooltipPosition="above" />
						}
						@if (param.default !== undefined) {
						<mat-hint>Default: {{ param.default }}</mat-hint>
						}
						@if (hasExpandableHelp(param)) {
							<button type="button" mat-icon-button matSuffix class="help-toggle-suffix" (click)="toggleHelp(param.id)" [matTooltip]="'Show/hide help'" matTooltipPosition="above">
								<mat-icon>{{ isHelpExpanded(param.id) ? 'expand_less' : 'help_outline' }}</mat-icon>
							</button>
						}
						</mat-form-field>
						@if (hasExpandableHelp(param) && isHelpExpanded(param.id)) {
							<div class="expandable-help" [innerHTML]="getMarkdownHelp(param)"></div>
						}
						}
						}
						@case ('number') {
						<mat-form-field appearance="outline" class="param-field">
						<mat-label>{{ param.name }}</mat-label>
						<input matInput type="number" [formControlName]="param.id" [required]="!!param.required" [matTooltip]="getTooltip(param)" matTooltipPosition="above" />
						@if (param.default !== undefined) {
						<mat-hint>Default: {{ param.default }}</mat-hint>
						}
						@if (hasExpandableHelp(param)) {
							<button type="button" mat-icon-button matSuffix class="help-toggle-suffix" (click)="toggleHelp(param.id)" [matTooltip]="'Show/hide help'" matTooltipPosition="above">
								<mat-icon>{{ isHelpExpanded(param.id) ? 'expand_less' : 'help_outline' }}</mat-icon>
							</button>
						}
						</mat-form-field>
						@if (hasExpandableHelp(param) && isHelpExpanded(param.id)) {
							<div class="expandable-help" [innerHTML]="getMarkdownHelp(param)"></div>
						}
						}
						@default {
							<div class="param-field unsupported-param">
							Unsupported parameter type: {{ param.type }}
							</div>
						}
					}
				}
			}
		</div>
	</div>
}

